name: Release

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        name: Create Release Draft
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.25.x"

            - name: Setup Task
              uses: arduino/setup-task@v2
              with:
                  version: 3.x

            - name: Build artifacts
              run: |
                  go install github.com/josephspurrier/goversioninfo/cmd/goversioninfo@latest
                  task clean
                  task generate:version-info
                  task build

            - name: Create Release Draft
              uses: softprops/action-gh-release@v2
              with:
                  draft: true
                  generate_release_notes: true
                  files: bin/*
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
