name: Tests

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        go: ["1.25.x"]
    name: Test with Go ${{ matrix.go }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      DISPLAY: ":99.0"
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Setup Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      - name: Install dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install libasound2-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev

      - name: Xvfb
        if: runner.os == 'Linux'
        run: |
          Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &

      - name: Vet
        run: |
          go vet -v ./...

      - name: Vet (errcheck)
        run: |
          go build ./internal/vettool
          go vet -vettool=./vettool${{ runner.os == 'Windows' && '.exe' || '' }} -v ./...

      - name: Test
        run: |
          go test -v ./...

      - name: Build artifacts
        if: runner.os == 'Linux'
        run: |
          go install github.com/josephspurrier/goversioninfo/cmd/goversioninfo@latest
          task clean
          task generate:version-info
          task build

      - name: Upload artifacts
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v4
        with:
          name: builds
          path: bin/*
